<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heypeanut.mapper.MemberMapper">
	<insert id="join">
		insert into members (id, name, password, email, phone, postcode, roadAddress, jibunAddress, detailAddress)
		values (#{id}, #{name}, #{password}, #{email}, #{phone}, #{postcode}, #{roadAddress}, #{jibunAddress}, #{detailAddress})
	</insert>

	<select id="login" resultType="com.heypeanut.domain.LoginVO">
		select id, name from members where id = #{id} and password = #{password} and authstatus = 1
	</select>
	
	<select id="read" resultType="com.heypeanut.domain.MemberVO">
		select * from members where id = #{id}
	</select>
	
	<select id="checkId" resultType="com.heypeanut.domain.MemberVO">
		select * from members where id = #{id}
	</select>
	
	<select id="userList" resultType="com.heypeanut.domain.MemberVO">
		select * from members
	</select>

	<update id="updateAuthKey">
		update members set authkey = #{authkey} where id = #{id}
	</update>
	
	<update id="updateAuthStatus">
		update members set authstatus = 1 where id = #{id}
	</update>	
</mapper>