<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heypeanut.mapper.ProductMapper">
	<insert id="register">
		<selectKey keyProperty="pno" order="BEFORE" resultType="int">
			select seq_product.nextVal from dual
		</selectKey>
		insert into product values (#{pno}, #{category}, #{pname}, #{price})
	</insert>
	
	<!-- 페이지 나누기가 적용된 리스트 가져오기 -->
	<select id="list" resultType="com.heypeanut.domain.ProductVO">
		<![CDATA[
			select pno, category, pname, price
			from (select /*+INDEX_DESC(product pk_product)*/
        		rownum rn, pno, category, pname, price
        		from product
        		where
        ]]>
        	<include refid="criteria"/>
        <![CDATA[       		
        		rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} -1) * #{amount}
		]]>		
	</select>
	
		<!-- 페이지 나누기가 적용된 리스트 가져오기 -->
	<select id="nonList" resultType="com.heypeanut.domain.ProductVO">
		<![CDATA[
			select pno, category, pname, price			
       		from product where
        ]]>
        	<include refid="criteria"/>
        <![CDATA[       		
       		pno>0
		]]>		
	</select>

	<select id="listTotalCount" resultType="int">
    	<![CDATA[
			select count(*) from product
			where
		]]>
			<include refid="criteria"/>
		<![CDATA[
			pno>0
		]]>
	</select>

	<select id="detail" resultType="com.heypeanut.domain.ProductVO">
		select * from product where pno = ${pno}
	</select>


	<!-- 동적 SQL문 : 재사용 가능 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND">
			<choose>
				<when test="type == 'cate'.toString()">
					<choose>	
						<when test="keyword == 'nuts'.toString()">
							category like '견과류'
						</when>
						<when test="keyword == 'fruit'.toString()">
							category like '건과류'
						</when>
						<when test="keyword == 'fish'.toString()">
							category like '건어물'
						</when>
						<when test="keyword == 'powder'.toString()">
							category like '건강분말'
						</when>
						<when test="keyword == 'snacks'.toString()">
							category like '스낵류'
						</when>
					</choose>	
				</when>
				<when test="type == 'name'.toString()">
					pname like '%'||#{keyword}||'%'
				</when>
			</choose>			
		</trim>
	</sql>
</mapper>